*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  /* max-width: 100%; */
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  background-color: #AABFCC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 1em;
  text-align: center;
}

.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: .25em;
}

.subtitle {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  margin-bottom: 1.5em;
}

.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.searchLocation{
  display: flex;
  gap: .5em;
}

#userLocation {
  width: 13em;
  padding: .25em 1em;
}

#userBtn {
  display: flex;
  padding: .5em;
  cursor: pointer;
  color: black;
  background-color: lightgray;
}

#userLocation,
#userBtn {
  border: none;
  border-radius: 1em;
  height: 2em;
}

.location-container {
  display: grid;
  justify-items: center;
  row-gap: .25em;
  margin: 1em;
}

.sunrise-container, .sunset-container {
  display: flex;
  align-items: center;
}

.today-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

.today-conditions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top,
.middle,
.bottom {
  display: grid;
  justify-content: center;
  justify-items: center;
  row-gap: 1em;
  margin: 2em;
}

.large {
  font-size: 6em;
  padding-bottom: .1em;
}

.heading {
  font-size: 1.75em;
}

.subheading {
  font-size: 1.25em;
  text-align: center;
  padding-top: 1em;
}

.content {
  font-size: 1em;
}

.subContent {
  font-size: .75em;
}

.icon {
  width: 2em;
}

.hontainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.hontainer.sun {
  align-items: center;
  gap: .25em;
  align-self: center;
}

.vontainer {
  display: grid;
  justify-items: center;
  align-content: space-around;
}


/* toggle feature */
#tog {
  appearance: none;
  position: relative;
  width: 4em;
  height: 2em;
  border-radius: 2em;
  background-color: #cccccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;
}

#tog::after {
  display: flex;
  position: absolute;
  content: "\2109";
  font-size: .75rem;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(255, 255, 255);
  transition: left .3s;
}

#tog:checked {
  background-color: darkgray;
}

#tog:checked::after {
  left: 70%;
  content: "\2103";
}