*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  background-color: #AABFCC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  max-width: 900px;
  margin: 1rem auto;
  padding: 0 1rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: .25rem;
}

.subtitle {
  font-size: .9rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 1.5rem;
}

.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.searchLocation{
  display: flex;
  gap: .5rem;
}

#userLocation {
  width: 13rem;
  padding: .25rem 1rem;
}

#userBtn {
  display: flex;
  padding: .5rem;
  cursor: pointer;
  color: black;
  background-color: lightgray;
}

#userLocation,
#userBtn {
  border: none;
  border-radius: 1rem;
  height: 2rem;
}

#userBtn img {
  width: 1rem;
  height: 1rem;
}

.location-container {
  display: grid;
  justify-items: center;
  row-gap: .25rem;
  margin: 1rem;
}

.sunrise-container, .sunset-container {
  display: flex;
  align-items: center;
}

.today-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.today-conditions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* stacks current temp on top of hourly */
/* @media (max-width: 600px) {
  .today-conditions {
    flex-direction: column;
    gap: 1.5rem;
  }
} */

.daily-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

/* .daily-container {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 1rem;
  align-items: center;
} */

.last-year-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
}

/* stacks the last year section */
/* @media (max-width: 700px) {
  .last-year-container {
    grid-auto-flow: row;
    gap: 1.5rem;
  }

  .ly-border {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 0;
    padding-top: 1rem;
  }
} */


.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.ly-border {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 1rem;
}

.large {
  font-size: 6rem;
  padding-bottom: .1rem;
}

.heading {
  font-size: 1.75rem;
}

.subheading {
  font-size: 1.25rem;
  text-align: center;
}

.content {
  font-size: .9rem;
}

.subContent {
  font-size: .75rem;
}

.icon {
  width: 2rem;
}

.hontainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hontainer.sun {
  align-items: center;
  gap: .25rem;
  align-self: center;
}

.vontainer {
  display: grid;
  justify-items: center;
  align-content: space-around;
}


/* toggle feature */
#tog {
  appearance: none;
  position: relative;
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #cccccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;
}

#tog::after {
  display: flex;
  position: absolute;
  content: "\2109";
  font-size: .75rem;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgb(255, 255, 255);
  transition: left .3s;
}

#tog:checked {
  background-color: darkgray;
}

#tog:checked::after {
  left: 70%;
  content: "\2103";
}
